<p id="notice"><%= notice %></p>

<h1 class="text-center">Your cocktails list</h1>

<div class="container">
  <div class="row">
    <%= link_to "New Cocktail", new_cocktail_path%>
  </div>
  </br>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-3">
      <%= render 'shared/card', cocktail: cocktail %>
      <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "btn btn-primary"%></h2>
    </div>
    <% end %>
  </br>
  </br>
  <%= link_to "Back to all", root_path %>
  </div>
</div>

